.header-uno{
	background: url("timthumb.jpg") no-repeat center center fixed;
	width: 100%;
	height: 200px;
	background-size: cover;
	background-attachment: scroll;
	background-repeat: no-repeat;
	font-size: 30px;
	border: 1px #444;



}	

.section-main{
	background-color: #433;
	text-transform: uppercase;
}

.alto{
	width: 100%;
	height: 600px;
}